/* GSM */

@media only screen and (max-width: 410px) {
    body{
        background-color: rgb(255, 127, 127);
        font-size: large;
        padding: 10px;
    }
}

/* Tablette */

@media only screen and (min-width: 410px) {
    .medium1 {
        width: 66%;
    }
    .medium2 {
        width: 33%;
    }
    .medium3 {
        width: 100%;
    }
    body{
        background-color: rgb(148, 255, 127);
        font-size: medium;
        padding: 50px;
    }
}

/* PC */

@media only screen and (min-width: 768px) {
    .large{
        width: 100%;
    }

    body{
        background-color: rgb(127, 168, 255);
        font-size: small;
    }
    .master{
        display: flex;
	    justify-content: center;
    }
}